/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.extra-info{
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.extra-info > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.forecast-info > div{
  display: flex;
  justify-content: space-evenly;
}